.background-invisible-2 {

    padding: 30px 0px;
    z-index: 2;
}

.container-1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    padding: 40px 40px;
    border-radius: 20px;
    background: linear-gradient(130deg, rgba(0,15,176,1) 0%, rgba(41,0,77,1) 0%, rgba(89,22,147,1) 23%, rgba(7,0,105,1) 100%);
}

.sobre {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    
}

.informacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0px;
    align-items: center;
}

.informacoes p {
    font-size: 18px;
    color: rgb(226, 226, 226);
    line-height: 1.777rem;
}

.texto {
    padding: 20px 0px;
}


.img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}
.img img {
    max-width: 110%;
}



@media (max-width: 850px){
    .container-1 {
        gap: 20px;
    }
    .informacoes {
        grid-template-columns: 1fr;
    }
    .img {
        margin: 30px 0px;
        padding: 0px;
    }
    .img img {
     max-width: 120%;
}
}

@media (max-width: 480px) {
    .sobre {
        font-size: 3rem;
    }
}